<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EducationNewsHunterSpider</display-name>
  <welcome-file-list>
    <welcome-file>HunterIndex</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>首页路由</description>
    <display-name>HunterIndex</display-name>
    <servlet-name>HunterIndex</servlet-name>
    <servlet-class>com.hunter.service.HunterIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HunterIndex</servlet-name>
    <url-pattern>/HunterIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLPaser</display-name>
    <servlet-name>URLPaser</servlet-name>
    <servlet-class>com.hunter.service.URLPaser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLPaser</servlet-name>
    <url-pattern>/URLPaser.do</url-pattern>
  </servlet-mapping>
</web-app>